/* mobile */
@media (max-width:767px){
  .container{width:100%}
  header{position:absolute;left:0;top:0;width:100%;z-index:100;}
  .mainBanner{position:relative;}
  section{padding:50px 0;}
  section:nth-of-type(2){background:#f1f1f1;}
  section:nth-of-type(3){background:#ffc845;}
  section:nth-of-type(4){background:#f36f21;}
  section:nth-of-type(5){background:#2f2f2f;}
  .innerContents{width:90%;margin:0 auto;}
  footer{background:#202020;padding:24px 0;}
  .btn_top{position:fixed;right:0;bottom:0;}
  /* header */
  .logo{float:left;width:46%;margin-top:5vw;margin-left:5vw;}
  .logo img{width:100%;}
  .gnb{display:none;}
  header:after{content:"";display:block;clear:both;}
  .btnGnb{border:1px solid #fff;position:absolute;right:5vw;top:5vw;
    width:30px;height:30px;transition:all 0.5s ease 0s;}
  .btnGnb.on{background:#f36f21;}
  .btnGnb span{display:block;width:20px;height:1px;background:#fff;
    margin:7px auto;transition:all 0.5s ease 0s;}

  .btnGnb span:nth-of-type(1){transform-origin:left center;}
  .btnGnb span:nth-of-type(3){transform-origin:left center;}

  .btnGnb.on span:nth-of-type(1){transform:rotate(40deg)scaleX(1.25);}
  .btnGnb.on span:nth-of-type(2){opacity:0;}
  .btnGnb.on span:nth-of-type(3){transform:rotate(-40deg)scaleX(1.25);}

  .moGnb{position:absolute;left:50%;top:80px;width:90%;
    transform:translateX(-50%);background:#fff;text-align:center;height:0;overflow:hidden;
  transition:all 0.5s ease 0s;}
  .moGnb.on{height:150px;}
  .moGnb > li{height:30px;position:relative;}
  .moGnb > li > a{display:block;height:100%;line-height:30px;}
  .moGnb > li > ul{position:absolute;left:0;top:30px;
    width:100%;display:none;background:#efefef;border:1px solid #ccc;
    box-shadow:0 2px 5px #ccc;z-index:5;}
  .moGnb > li > ul > li{height:28px;line-height:28px;transition:all 0.5s ease 0s;}
  .moGnb > li > ul > li:hover{background:#f36f21;}
  .moGnb > li > ul > li:hover a{color:#fff;}
  .moGnb > li.on > ul{display:block;}


  /* mainBanner */
  .mainBanner{width:100%;height:50vh;overflow:hidden;position:relative;}
  .mainSlider{height:100%;width:300%;position:relative;left:0;transition:all 1s ease 0s;}
  .mainSlider > li{float:left;width:33.333%;height:100%;box-sizing:border-box;position:
  relative;}
  .mainSlider > li h2{position:absolute;left:5vw;top:100px;;
  font-size:22px;color:#fff;text-shadow:1px 1px 10px #777;font-weight:500;line-height:110%;}
  .mainSlider:after{content:"";display:block;clear:both;}
  .mainSlider > li > img{width:100%;height:100%;object-fit:cover;}

  .snsList{position:absolute;left:5vw;top:165px;}
  .snsList > li{width:34px;height:30px;float:left;margin-right:10px;}
  .snsList > li a{display:block;height:100%;border:1px solid #fff;text-align:center;line-height:30px;
  font-size:15px;color:#fff;}
  .snsList > li a:hover{background:#fff;color:#f36f21;}
  .snsList > li:last-of-type{margin-right:0px;}
  .snsList:after{content:"";display:block;clear:both;}

  .pagination{position:absolute;right:5vw;top:50%;transform:translateY(-50%);}
  .pagination > li{text-indent:-9999px;overflow:hidden;width:12px;height:12px;background:#fff;border-radius:50%;margin-bottom:16px;cursor:pointer;}
  .pagination > li:last-of-type{margin-bottom:0;}
  .pagination > li.active{background:#f36f21;}

  .controler{position:absolute;left:5vw;bottom:50px;}
  .controler a{display:inline-block;background:#fff;padding:3px;}

  /* section - contents */
  .left_con1{margin-bottom:40px;}
  .right_con1{}
  section h3{font-size:22px;font-weight:500;text-align:center;}
  section h3 img{width:195px;}
  section h3 iframe{width:100%;height:180px;}
  section h3 span{display:block;font-weight:normal;font-size:.6em}
  .right_con1 h3{margin-bottom:20px;}
  .right_con1 ul{}
  .right_con1 ul li{;margin-bottom:15px;position:relative;padding-left:23px;
  white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
  /* 텍스트 한줄로 표기 후 overflow:hidden 걸어주고 text-overflow:ellipsis(말줄임표)*/
  .right_con1 ul li:before{content:"";width:10px;height:10px;border-radius:50%;border:2px solid #f36f21;display:block;position:absolute;left:0;top:50%;transform:translateY(-50%);transition:all 0.4s ease 0s;}
  .right_con1 ul li:last-of-type{margin-bottom:0;}
  .right_con1 ul li a{color:#777784;transition:all 0.4s ease 0s;}
  .right_con1 ul li:hover:before{background:#f36f21;}
  .right_con1 ul li:hover a{color:#f36f21;}


  .right_con2 img{width:100%;}
  .left_con2 dl{position:relative;margin-top:26px;border:1px solid #cfcfcf;}
  .left_con2 dl dt{padding:16px 13px;color:#fff;background:#222;font-size:20px;margin-bottom:2px;position:relative;}
  .left_con2 dl dt:before{
    content: "";
    position: absolute;
    right: 10px;
    top: 22px;
    border: 6px solid transparent;
    border-top: 10px solid #ffc845;}
    .left_con2 dl dt.on{background:#f36f21;}
    .left_con2 dl dt.on:before{
      content: "";
      position: absolute;
      right: 10px;
      top: 14px;
      border: 6px solid transparent;
      border-bottom: 10px solid #ffc845;}
  .left_con2 dl dd{transition:all 0.5s ease 0s;color:#848484;
    height:0;overflow:hidden;padding:0px 20px;}
  .left_con2 dl dt.on + dd{height:200px;padding:17px 20px;}
  /* + 다음 형제 중에서 선택자 */
  .left_con2 dl dd h4{color:#222;font-size:28px;margin-bottom:18px;}
  .left_con2 dl dd p:nth-of-type(1){margin-bottom:20px;}
  .left_con2 dl dd p:nth-of-type(2){font-size:0.8em;}

  .proList > li h4{font-size:24px;font-weight:bold;color:#222;border-bottom:1px solid #f1b017;padding-bottom:16px;margin-bottom:23px;}
  .proList > li > p{color:#98762b;}
  .proList > li > img{width:100%;}

  .fDiv li{overflow:hidden;position:relative;font-size:0;}
  .hiddenBox{font-size:14px;position:absolute;left:0;bottom:0;width:100%;background:#000;padding:16px 14px;box-sizing:border-box;transform:translateY(100%);transition:all 0.5s ease 0s;opacity:0;}
  .fDiv li img{width:100%;height:100%;object-fit:cover;}
  .hiddenBox h5{font-size:19px;font-weight:bold;color:#f36f21;margin-bottom:10px;}
  .hiddenBox p{color:#fff;float:left;}
  .hiddenBox a{color:#fff;border:1px solid #fff;float:right;padding:4px;}
  .hiddenBox:after{content:"";display:block;clear:both;}
  .fDiv li:hover .hiddenBox{transform:translateY(0);opacity:1;}
  .fw{color:#fff;margin-bottom:25px;}

  .right_con3 h4{margin-top:30px;}
  .fgnb li{margin-bottom:14px;}
  .fgnb > li ul{margin-top:14px;}
  .fgnb > li li:last-of-type{margin-bottom:0;}
  .fgnb:after{content:"";display:block;clear:both;}
  .fgnb > li > a{color:#f36f21;transition:all 0.4s ease 0s;}
  .fgnb > li > a:hover{color:#23527c;}
  .fgnb > li li > a{color:#bbb;transition:all 0.4s ease 0s;}
  .fgnb > li > ul > li > a:hover{color:#f36f21;}
  .right_con3 h4{font-size:1.2em;color:#bbb;margin-bottom:24px;}

  .fsnsList > li{width:34px;height:30px;float:left;margin-right:10px;}
  .fsnsList > li a{display:block;height:100%;border:1px solid rgba(255,255,255,0.3);text-align:center;line-height:30px;
  font-size:15px;color:#fff;transition:all 0.4s ease 0s;}
  .fsnsList > li a:hover{border:1px solid #f36f21;color:#f36f21;}
  .fsnsList > li:last-of-type{margin-right:0px;}
  .fsnsList:after{content:"";display:block;clear:both;}

  .flogo{width:126px;margin:0 auto;}
  .flogo img{width:100%;}
  .copy{color:#bbb;text-align:center;margin-top:5%;}

  .btn_top{cursor:pointer;}
